<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-medium-top" uk-grid="masonry: true">
	<% page.posts.forEach(function(item){ %>
		<%- partial('_partial/index-masonry', {item: item}) %>
	<% }); %>
</div>